body {
  font-family: "Jost", sans-serif;
  background: var(--dark-grey);
}
main {
  //   display: grid;
  //   grid-template-columns: 1fr;
  //   justify-content: center;
  //   align-items: center;
  background: #ffffff;
  margin: auto;
  max-width: 1440px;
}
