:root {
  //PRIMARY COLORS

  --peach: #e7816b;

  --black: #1d1c1e;

  --white: #ffffff;

  //SECONDARY COLORS

  --light-peach: #ffad9b;

  --light-peach-19: rgba(255, 172, 153, 0.19);

  --dark-grey: #333136;

  --light-grey: #f1f3f5;
}
