@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Jost", sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  font-size: 62.5%;
}

:root {
  --peach: #e7816b;
  --black: #1d1c1e;
  --white: #ffffff;
  --light-peach: #ffad9b;
  --dark-grey: #333136;
  --light-grey: #f1f3f5;
}

body {
  font-family: "Jost", sans-serif;
  background: var(--dark-grey);
}

main {
  background: #ffffff;
  margin: auto;
  max-width: 1440px;
}

a.button {
  text-transform: uppercase;
  border-radius: 0.7rem;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}
a.button.primery {
  padding-left: 1.7rem;
  padding-right: 1.7rem;
}
a.button.secoundery {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}
a.button.submit-form {
  padding-left: 4.75rem;
  padding-right: 4.75rem;
}
a.button.contact {
  padding-left: 1.85rem;
  padding-right: 1.85rem;
}
a.button.light {
  background: var(--peach);
  color: var(--white);
}
a.button.dark {
  background: var(--white);
  color: var(--black);
}
a.button:hover {
  background: var(--light-peach);
  color: var(--white);
}

footer {
  max-width: 144rem;
  margin: 0 auto;
}

section.footer-banner {
  display: grid;
  grid-template-columns: 2.5rem 1fr 2.5rem;
  grid-template-rows: 19rem 18.9rem;
  max-width: 111.1rem;
}
@media screen and (min-width: 768px) {
  section.footer-banner {
    grid-template-columns: 3.9rem 1fr 3.9rem;
    grid-template-rows: 26.4rem 8.6rem;
  }
}
@media screen and (min-width: 1111px) {
  section.footer-banner {
    grid-template-columns: minmax(auto, 16.5rem) minmax(1fr, 111.1rem) minmax(auto, 16.5rem);
    grid-template-rows: 22rem 7.2rem;
    margin: 0 auto;
  }
}
section.footer-banner .footer-banner-content {
  grid-column: 2/3;
  grid-row: 1/3;
  background: var(--peach);
  color: var(--white);
  border-radius: 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6.4rem 2.8rem;
}
@media screen and (min-width: 768px) {
  section.footer-banner .footer-banner-content {
    padding: 5.7rem 5.85rem;
  }
}
@media screen and (min-width: 1111px) {
  section.footer-banner .footer-banner-content {
    padding: 7.4rem 9.6rem;
    flex-direction: row;
  }
}
section.footer-banner .footer-banner-content .footer-banner-info-container {
  text-align: center;
  max-width: 45.9rem;
}
section.footer-banner .footer-banner-content .footer-banner-info-container h2 {
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 3.6rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 1111px) {
  section.footer-banner .footer-banner-content .footer-banner-info-container h2 {
    text-align: start;
  }
}
section.footer-banner .footer-banner-content .footer-banner-info-container p {
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
@media screen and (min-width: 1111px) {
  section.footer-banner .footer-banner-content .footer-banner-info-container p {
    text-align: start;
  }
}
section.footer-banner .footer-banner-overlay {
  grid-column: 1/4;
  grid-row: 2/3;
  background: var(--black);
  z-index: -1;
}

.footer-content {
  background: var(--black);
  margin: 0 auto;
  padding: 6.4rem 2.4rem;
  max-width: 111.1rem;
}
@media screen and (min-width: 768px) {
  .footer-content {
    padding: 8rem 3.9rem;
  }
}
@media screen and (min-width: 1111px) {
  .footer-content {
    padding: 7.1rem 7.2rem;
  }
}
@media screen and (min-width: 768px) {
  .footer-content .footer-navigation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 4.8rem;
    border-bottom: rgba(255, 255, 255, 0.1) 0.1rem solid;
  }
}
.footer-content .footer-navigation-container .footer-logo-container {
  border-bottom: rgba(255, 255, 255, 0.1) 0.1rem solid;
  padding-bottom: 3.2rem;
  display: grid;
  place-items: center;
}
@media screen and (min-width: 768px) {
  .footer-content .footer-navigation-container .footer-logo-container {
    padding-bottom: 0;
    border-bottom: none;
    display: block;
  }
}
.footer-content .footer-navigation-container .footer-logo-container img {
  width: 20.2rem;
  height: 2.7rem;
}
.footer-content .footer-navigation-container .navgation {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-content .footer-navigation-container .navgation a {
  text-decoration: none;
  margin-top: 3.4rem;
  font-size: 1.4rem;
  line-height: 14px;
  letter-spacing: 2px;
  color: var(--white);
}
.footer-content .footer-navigation-container .navgation a:hover {
  text-decoration: underline;
}
@media screen and (min-width: 768px) {
  .footer-content .footer-navigation-container .navgation a {
    margin-top: 0;
  }
}
@media screen and (min-width: 768px) {
  .footer-content .footer-navigation-container .navgation {
    flex-direction: row;
    width: 37rem;
    justify-content: space-between;
  }
}
.footer-content .contact-us-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 4.7rem;
  height: 25.3rem;
}
@media screen and (min-width: 768px) {
  .footer-content .contact-us-footer {
    flex-direction: row;
    align-items: flex-end;
    margin-top: 3.8rem;
    height: 10.7rem;
  }
}
.footer-content .contact-us-footer .contact-info {
  text-align: center;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: var(--white);
  opacity: 0.5;
}
.footer-content .contact-us-footer .contact-info h3 {
  font-weight: bold;
}
.footer-content .contact-us-footer .social-media-connect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 18.4rem;
}
.footer-content .contact-us-footer .social-media-connect a {
  text-decoration: none;
}
.footer-content .contact-us-footer .social-media-connect a svg {
  fill: var(--peach);
}
.footer-content .contact-us-footer .social-media-connect a svg :hover {
  fill: var(--light-peach);
}

.nav-bar-header {
  margin: 3.5rem 2.4rem;
  background: var(--white);
  max-width: 111.1rem;
  height: 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
@media screen and (min-width: 768px) {
  .nav-bar-header {
    margin: 6.4rem auto;
    position: static;
  }
}
.nav-bar-header .logo-container {
  width: 20.2rem;
  height: 2.7rem;
}
.nav-bar-header .logo-container img {
  width: 100%;
}
.nav-bar-header .hamburger-lines-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  right: 2.4rem;
}
.nav-bar-header .hamburger-lines-container .hamburger-line {
  width: 2.4rem;
  height: 0.4rem;
  margin: 2px;
  background: var(--black);
  transform-origin: center;
  transition: 250ms ease-in-out;
}
@media screen and (min-width: 768px) {
  .nav-bar-header .hamburger-lines-container {
    display: none;
  }
}
.nav-bar-header .hamburger-lines-container .hamburger-line-rotate-left.active {
  transform: rotate(45deg) translate(0.6rem, 0.6rem);
}
.nav-bar-header .hamburger-lines-container .hamburger-line-center.active {
  opacity: 0;
  transform: scale(0, 0);
}
.nav-bar-header .hamburger-lines-container .hamburger-line-rotate-right.active {
  transform: rotate(-45deg) translate(0.5rem, -0.6rem);
}
.nav-bar-header .page-navigation {
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column;
  background: var(--black);
  padding: 4.8rem 2.4rem;
  transform: scale(0, 0);
  transform-origin: top;
  transition: 250ms ease-in-out;
}
@media screen and (min-width: 768px) {
  .nav-bar-header .page-navigation {
    transform: scale(1, 1);
    background: none;
    align-items: center;
    justify-content: space-between;
    flex-flow: row;
    width: 37rem;
    height: 2.7rem;
    padding: 0;
    position: static;
  }
}
.nav-bar-header .page-navigation a {
  color: var(--white);
  text-decoration: none;
  font-size: 2.4rem;
  cursor: pointer;
}
.nav-bar-header .page-navigation a:nth-child(1), .nav-bar-header .page-navigation a:nth-child(2) {
  margin-bottom: 3.2rem;
}
.nav-bar-header .page-navigation a:hover {
  text-decoration: underline;
}
@media screen and (min-width: 768px) {
  .nav-bar-header .page-navigation a {
    color: var(--black);
    font-size: 1.4rem;
  }
  .nav-bar-header .page-navigation a:nth-child(1), .nav-bar-header .page-navigation a:nth-child(2) {
    margin-bottom: 0rem;
  }
}
.nav-bar-header .overlay {
  transform: scale(0, 0);
  transform-origin: top;
  transition: 250ms ease-in-out;
  position: fixed;
  position: absolute;
  top: 0px;
  width: calc(100vh - 18.2rem);
  height: calc(100vh - 6.3rem);
  left: 0%;
  z-index: -1;
  background: var(--dark-grey);
  opacity: 0.5;
}
@media screen and (min-width: 768px) {
  .nav-bar-header .overlay {
    display: none;
  }
}
.nav-bar-header .show {
  transform: scale(1, 1);
}

/*# sourceMappingURL=master.css.map */
