@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Jost", sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  font-size: 62.5%;
}

:root {
  --peach: #e7816b;
  --black: #1d1c1e;
  --white: #ffffff;
  --light-peach: #ffad9b;
  --dark-grey: #333136;
  --light-grey: #f1f3f5;
}

body {
  font-family: "Jost", sans-serif;
  background: var(--dark-grey);
  min-width: 37.5rem;
  display: grid;
  grid-template-columns: 1fr minmax(32.7rem, 111.1rem) 1fr;
}

main {
  background: #ffffff;
  margin: 0 auto;
  max-width: 144rem;
  grid-column: 2/3;
}

.nav-bar-header {
  margin: 3.5rem 2.4rem;
  background: var(--white);
  max-width: 111.1rem;
  height: 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  grid-column: 2/3;
}
@media screen and (min-width: 768px) {
  .nav-bar-header {
    position: static;
    padding: 0 clamp(0.1rem, 0.2143rem + -0.1488vw, 0rem);
  }
}
.nav-bar-header .logo-container {
  width: 20.2rem;
  height: 2.7rem;
}
.nav-bar-header .logo-container img {
  width: 100%;
}
.nav-bar-header .hamburger-lines-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  right: 2.4rem;
}
.nav-bar-header .hamburger-lines-container .hamburger-line {
  width: 2.4rem;
  height: 0.4rem;
  margin: 2px;
  background: var(--black);
  transform-origin: center;
  transition: 250ms ease-in-out;
}
@media screen and (min-width: 768px) {
  .nav-bar-header .hamburger-lines-container {
    display: none;
  }
}
.nav-bar-header .hamburger-lines-container .hamburger-line-rotate-left.active {
  transform: rotate(45deg) translate(0.6rem, 0.6rem);
}
.nav-bar-header .hamburger-lines-container .hamburger-line-center.active {
  opacity: 0;
  transform: scale(0, 0);
}
.nav-bar-header .hamburger-lines-container .hamburger-line-rotate-right.active {
  transform: rotate(-45deg) translate(0.5rem, -0.6rem);
}
.nav-bar-header .page-navigation {
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column;
  background: var(--black);
  padding: 4.8rem 2.4rem;
  transform: scale(0, 0);
  transform-origin: top;
  transition: 250ms ease-in-out;
}
@media screen and (min-width: 768px) {
  .nav-bar-header .page-navigation {
    transform: scale(1, 1);
    background: none;
    align-items: center;
    justify-content: space-between;
    flex-flow: row;
    width: 37rem;
    height: 2.7rem;
    padding: 0;
    position: static;
  }
}
.nav-bar-header .page-navigation a {
  color: var(--white);
  text-decoration: none;
  font-size: 2.4rem;
  cursor: pointer;
}
.nav-bar-header .page-navigation a:nth-child(1), .nav-bar-header .page-navigation a:nth-child(2) {
  margin-bottom: 3.2rem;
}
.nav-bar-header .page-navigation a:hover {
  text-decoration: underline;
}
@media screen and (min-width: 768px) {
  .nav-bar-header .page-navigation a {
    color: var(--black);
    font-size: 1.4rem;
  }
  .nav-bar-header .page-navigation a:nth-child(1), .nav-bar-header .page-navigation a:nth-child(2) {
    margin-bottom: 0rem;
  }
}
.nav-bar-header .overlay {
  transform: scale(0, 0);
  transform-origin: top;
  transition: 250ms ease-in-out;
  position: fixed;
  position: absolute;
  top: 0px;
  width: calc(100vh - 18.2rem);
  height: calc(100vh - 6.3rem);
  left: 0%;
  z-index: -1;
  background: var(--dark-grey);
  opacity: 0.5;
}
@media screen and (min-width: 768px) {
  .nav-bar-header .overlay {
    display: none;
  }
}
.nav-bar-header .show {
  transform: scale(1, 1);
}

a.button {
  text-transform: uppercase;
  border-radius: 0.7rem;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}
a.button.primery {
  padding-left: 1.7rem;
  padding-right: 1.7rem;
}
a.button.secoundery {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}
a.button.submit-form {
  padding-left: 4.75rem;
  padding-right: 4.75rem;
}
a.button.contact {
  padding-left: 1.85rem;
  padding-right: 1.85rem;
}
a.button.light {
  background: var(--peach);
  color: var(--white);
}
a.button.dark {
  background: var(--white);
  color: var(--black);
}
a.button:hover {
  background: var(--light-peach);
  color: var(--white);
}

.project-type-cards {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  gap: 2.4rem;
}
.project-type-cards:not(.home) {
  justify-content: space-between;
  margin-bottom: 9.6rem;
}
@media screen and (min-width: 768px) {
  .project-type-cards:not(.home) {
    margin-bottom: 12rem;
  }
}
@media screen and (min-width: 1111px) {
  .project-type-cards {
    padding: 0rem 0;
    grid-template-columns: 54.1rem 54.1rem;
  }
  .project-type-cards:not(.home) {
    margin-bottom: 16rem;
  }
}
.project-type-cards .project-card {
  width: 32.7rem;
  height: 25rem;
  border-radius: 1.4rem;
  position: relative;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.project-type-cards .project-card h2 {
  font-size: 2.8rem;
  line-height: 3.6rem;
  letter-spacing: 0.14rem;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .project-type-cards .project-card h2 {
    font-size: 4rem;
    line-height: 4.8rem;
    letter-spacing: 0.2rem;
  }
}
.project-type-cards .project-card p {
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
  z-index: 1;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .project-type-cards .project-card {
    width: 68.9rem;
    height: 20rem;
  }
}
@media screen and (min-width: 1111px) {
  .project-type-cards .project-card {
    width: 54.1rem;
    height: 30.8rem;
  }
}

.project-type-cards .project-card.home:nth-child(1) {
  background: url("/assets/home/mobile/image-web-design.jpg");
}
.project-type-cards .project-card.home:nth-child(2) {
  background: url("/assets/home/mobile/image-app-design.jpg");
}
.project-type-cards .project-card.home:nth-child(3) {
  background: url("/assets/home/mobile/image-graphic-design.jpg");
}
@media screen and (min-width: 768px) {
  .project-type-cards .project-card.home:nth-child(1) {
    background: url("/assets/home/tablet/image-web-design.jpg");
  }
  .project-type-cards .project-card.home:nth-child(2) {
    background: url("/assets/home/tablet/image-app-design.jpg");
  }
  .project-type-cards .project-card.home:nth-child(3) {
    background: url("/assets/home/tablet/image-graphic-design.jpg");
  }
}
@media screen and (min-width: 1111px) {
  .project-type-cards .project-card.home:nth-child(1) {
    height: 64rem;
    grid-row: 1/3;
    grid-column: 1/2;
    background: url("/assets/home/desktop/image-web-design-large.jpg");
  }
  .project-type-cards .project-card.home:nth-child(2) {
    background: url("/assets/home/desktop/image-app-design.jpg");
    grid-column: 2/3;
  }
  .project-type-cards .project-card.home:nth-child(3) {
    grid-column: 2/3;
    background: url("/assets/home/desktop/image-graphic-design.jpg");
  }
}
.project-type-cards .project-card.web-design:nth-child(1) {
  background: url("/assets/home/mobile/image-app-design.jpg");
}
.project-type-cards .project-card.web-design:nth-child(2) {
  background: url("/assets/home/mobile/image-graphic-design.jpg");
}
.project-type-cards .project-card.app-design:nth-child(1) {
  background: url("/assets/home/mobile/image-web-design.jpg");
}
.project-type-cards .project-card.app-design:nth-child(2) {
  background: url("/assets/home/mobile/image-graphic-design.jpg");
}
.project-type-cards .project-card.graphic-design:nth-child(1) {
  background: url("/assets/home/mobile/image-web-design.jpg");
}
.project-type-cards .project-card.graphic-design:nth-child(2) {
  background: url("/assets/home/mobile/image-app-design.jpg");
}

.project-card::before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 1.4rem;
}

.project-card:hover::before {
  background: var(--peach);
  opacity: 0.8;
  border-radius: 1.4rem;
}

footer {
  grid-column: 1/4;
}
footer section.footer-banner {
  display: grid;
  grid-template-columns: 1fr minmax(32.7rem, 111.1rem) 1fr;
  grid-template-rows: 19rem 18.9rem;
}
footer section.footer-banner .footer-banner-content {
  grid-column: 2/3;
  grid-row: 1/3;
  background: var(--peach);
  color: var(--white);
  border-radius: 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6.4rem 2.8rem;
}
@media screen and (min-width: 768px) {
  footer section.footer-banner .footer-banner-content {
    padding: 5.7rem 5.85rem;
  }
}
@media screen and (min-width: 1111px) {
  footer section.footer-banner .footer-banner-content {
    padding: 7.4rem 9.6rem;
    flex-direction: row;
  }
}
footer section.footer-banner .footer-banner-content .footer-banner-info-container {
  text-align: center;
  max-width: 45.9rem;
}
footer section.footer-banner .footer-banner-content .footer-banner-info-container h2 {
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 3.6rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 1111px) {
  footer section.footer-banner .footer-banner-content .footer-banner-info-container h2 {
    text-align: start;
  }
}
footer section.footer-banner .footer-banner-content .footer-banner-info-container p {
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
@media screen and (min-width: 1111px) {
  footer section.footer-banner .footer-banner-content .footer-banner-info-container p {
    text-align: start;
  }
}
footer section.footer-banner .footer-banner-overlay {
  grid-column: 1/4;
  grid-row: 2/3;
  background: var(--black);
  z-index: -1;
}

.footer-content {
  display: grid;
  grid-template-columns: 1fr minmax(32.7rem, 111.1rem) 1fr;
  background: var(--black);
}
.footer-content .footer-content-container {
  grid-column: 2/3;
  padding: 6.4rem 2.4rem;
}
@media screen and (min-width: 768px) {
  .footer-content .footer-content-container {
    padding: 8rem 3.9rem;
  }
}
@media screen and (min-width: 1111px) {
  .footer-content .footer-content-container {
    padding: 7.1rem 7.2rem;
  }
}
@media screen and (min-width: 768px) {
  .footer-content .footer-content-container .footer-navigation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 4.8rem;
    border-bottom: rgba(255, 255, 255, 0.1) 0.1rem solid;
  }
}
.footer-content .footer-content-container .footer-navigation-container .footer-logo-container {
  border-bottom: rgba(255, 255, 255, 0.1) 0.1rem solid;
  padding-bottom: 3.2rem;
  display: grid;
  place-items: center;
}
@media screen and (min-width: 768px) {
  .footer-content .footer-content-container .footer-navigation-container .footer-logo-container {
    padding-bottom: 0;
    border-bottom: none;
    display: block;
  }
}
.footer-content .footer-content-container .footer-navigation-container .footer-logo-container img {
  width: 20.2rem;
  height: 2.7rem;
}
.footer-content .footer-content-container .footer-navigation-container .navgation {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-content .footer-content-container .footer-navigation-container .navgation a {
  text-decoration: none;
  margin-top: 3.4rem;
  font-size: 1.4rem;
  line-height: 14px;
  letter-spacing: 2px;
  color: var(--white);
}
.footer-content .footer-content-container .footer-navigation-container .navgation a:hover {
  text-decoration: underline;
}
@media screen and (min-width: 768px) {
  .footer-content .footer-content-container .footer-navigation-container .navgation a {
    margin-top: 0;
  }
}
@media screen and (min-width: 768px) {
  .footer-content .footer-content-container .footer-navigation-container .navgation {
    flex-direction: row;
    width: 37rem;
    justify-content: space-between;
  }
}
.footer-content .footer-content-container .contact-us-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 4.7rem;
  height: 25.3rem;
}
@media screen and (min-width: 768px) {
  .footer-content .footer-content-container .contact-us-footer {
    flex-direction: row;
    align-items: flex-end;
    margin-top: 3.8rem;
    height: 10.7rem;
  }
}
.footer-content .footer-content-container .contact-us-footer .contact-info {
  text-align: center;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: var(--white);
  opacity: 0.5;
}
.footer-content .footer-content-container .contact-us-footer .contact-info h3 {
  font-weight: bold;
}
.footer-content .footer-content-container .contact-us-footer .social-media-connect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 18.4rem;
}
.footer-content .footer-content-container .contact-us-footer .social-media-connect a {
  text-decoration: none;
}
.footer-content .footer-content-container .contact-us-footer .social-media-connect a svg {
  fill: var(--peach);
}
.footer-content .footer-content-container .contact-us-footer .social-media-connect a svg :hover {
  fill: var(--light-peach);
}

section.project-card-banner {
  max-width: 100%;
  height: 32rem;
  background: var(--peach);
  border-radius: 1.4rem;
  margin-bottom: 9.5rem;
  display: grid;
  align-items: center;
  justify-content: center;
}
section.project-card-banner .project-card-banner-info {
  text-align: center;
  color: var(--white);
  padding: 0 2.5rem;
}
section.project-card-banner .project-card-banner-info h1 {
  font-size: 3.2rem;
  line-height: 3.6rem;
  margin-bottom: 3.6rem;
}
section.project-card-banner .project-card-banner-info p {
  font-size: 1.5rem;
  line-height: 2.5rem;
}
@media screen and (min-width: 768px) {
  section.project-card-banner {
    height: 25.2rem;
    margin-bottom: 12rem;
  }
  section.project-card-banner .project-card-banner-info {
    width: 100%;
  }
  section.project-card-banner .project-card-banner-info h1 {
    font-size: 4.8rem;
    line-height: 4.8rem;
  }
  section.project-card-banner .project-card-banner-info p {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
}
@media screen and (min-width: 768px) {
  section.project-card-banner {
    max-width: 111.1rem;
    height: 25.2rem;
    margin-bottom: 16rem;
  }
  section.project-card-banner .project-card-banner-info p {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
}

section.portfolio-project-cards {
  display: grid;
  grid-template-columns: 1fr 32.7rem 1fr;
  grid-template-rows: repeat(auto-fill, 1fr);
  row-gap: 4rem;
  margin-bottom: 9.6rem;
}
section.portfolio-project-cards .portfolio-card {
  grid-column: 2/3;
  height: 47.8rem;
}
section.portfolio-project-cards .portfolio-card img {
  width: 32.7rem;
  height: 32rem;
  border-radius: 1.4rem 1.4rem 0 0;
}
section.portfolio-project-cards .portfolio-info {
  text-align: center;
  background: rgba(255, 172, 153, 0.19);
  height: 15.8rem;
  border-radius: 0 0 1.4rem 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: background 250ms;
}
section.portfolio-project-cards .portfolio-info h2 {
  font-size: 2rem;
  line-height: 2.6rem;
  letter-spacing: 0.5rem;
  color: var(--peach);
  transition: color 250ms;
}
section.portfolio-project-cards .portfolio-info p {
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: var(--dark-grey);
}
section.portfolio-project-cards .portfolio-info:hover {
  background: var(--peach);
  cursor: pointer;
}
section.portfolio-project-cards .portfolio-info:hover h2 {
  color: var(--white);
}
section.portfolio-project-cards .portfolio-info:hover p {
  color: var(--white);
}
@media screen and (min-width: 768px) {
  section.portfolio-project-cards {
    grid-template-columns: 1fr 68.9rem 1fr;
    row-gap: 3.2rem;
    margin-bottom: 12rem;
  }
  section.portfolio-project-cards .portfolio-card {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 34.45rem 34.45rem;
    height: 31rem;
  }
  section.portfolio-project-cards .portfolio-card img {
    width: 34.45rem;
    height: 31rem;
    grid-column: 1/2;
    border-radius: 1.4rem 0 0 1.4rem;
  }
  section.portfolio-project-cards .portfolio-card .portfolio-info {
    grid-column: 2/3;
    width: 34.45rem;
    height: 31rem;
    border-radius: 0 1.4rem 1.4rem 0;
  }
}
@media screen and (min-width: 1111px) {
  section.portfolio-project-cards {
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 3.2rem;
    column-gap: 3rem;
  }
  section.portfolio-project-cards .portfolio-card {
    grid-column: unset;
    grid-template-columns: 1fr;
    height: 47.8rem;
  }
  section.portfolio-project-cards .portfolio-card img {
    grid-column: unset;
    width: 35rem;
    height: 32rem;
    border-radius: 1.4rem 1.4rem 0 0;
  }
  section.portfolio-project-cards .portfolio-card .portfolio-info {
    grid-column: unset;
    width: 35rem;
    height: 15.9rem;
    border-radius: 0 0 1.4rem 1.4rem;
  }
}

.home-hero-card {
  width: clamp(37.5rem, 7.5382rem + 79.8982vw, 68.9rem);
  height: 84.3rem;
  background-color: var(--peach);
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: clamp(12rem, 9.962rem + 5.4348vw, 16rem);
  overflow: hidden;
  border-radius: 1.4rem;
}
@media screen and (min-width: 1111px) {
  .home-hero-card {
    flex-direction: row;
    width: 111.1rem;
    height: 64rem;
    position: relative;
  }
}
@media screen and (min-width: 1111px) {
  .home-hero-card-img {
    position: absolute;
    left: 550px;
    top: -30px;
  }
}
.home-hero-card-info {
  width: clamp(32.7rem, 20.166rem + 33.4239vw, 57.3rem);
  height: clamp(31.2rem, 30.4867rem + 1.9022vw, 32.6rem);
  color: var(--white);
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: clamp(8rem, 9.019rem + -2.7174vw, 6rem);
}
@media screen and (min-width: 1111px) {
  .home-hero-card-info {
    margin-top: 0;
    width: 54rem;
    align-items: flex-start;
    padding-left: 9.6rem;
  }
}
.home-hero-card-info h1 {
  text-align: center;
  font-size: 3.2rem;
  line-height: 3.6rem;
  margin-bottom: 2.5rem;
}
@media screen and (min-width: 1111px) {
  .home-hero-card-info h1 {
    text-align: left;
  }
}
.home-hero-card-info p {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin-bottom: 2.5rem;
}
@media screen and (min-width: 1111px) {
  .home-hero-card-info p {
    text-align: left;
  }
}

.virtue-cards {
  padding: 12rem 2.4rem;
  max-width: 111rem;
}
@media screen and (min-width: 1111px) {
  .virtue-cards {
    padding: 16rem 0;
    display: flex;
    justify-content: space-between;
  }
}
.virtue-cards__container {
  display: grid;
  place-items: center;
  max-width: 32.7rem;
}
@media screen and (min-width: 768px) {
  .virtue-cards__container {
    display: flex;
    max-width: 68.9rem;
  }
}
@media screen and (min-width: 1111px) {
  .virtue-cards__container {
    flex-direction: column;
    max-width: 35rem;
  }
}
.virtue-cards__container:nth-child(1), .virtue-cards__container:nth-child(2) {
  margin-bottom: 8.7rem;
}
@media screen and (min-width: 768px) {
  .virtue-cards__container:nth-child(1), .virtue-cards__container:nth-child(2) {
    margin-bottom: 3.2rem;
  }
}
@media screen and (min-width: 1111px) {
  .virtue-cards__container:nth-child(1), .virtue-cards__container:nth-child(2) {
    margin-bottom: 0rem;
  }
}
.virtue-cards__container__img {
  margin-bottom: 5.4rem;
}
@media screen and (min-width: 768px) {
  .virtue-cards__container__img {
    margin-bottom: 0;
    margin-right: 3rem;
  }
}
@media screen and (min-width: 1111px) {
  .virtue-cards__container__img {
    margin-bottom: 4.8rem;
    margin-right: 0rem;
  }
}
.virtue-cards__container__info {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .virtue-cards__container__info {
    text-align: left;
  }
}
@media screen and (min-width: 1111px) {
  .virtue-cards__container__info {
    text-align: center;
  }
}
.virtue-cards__container__info h2 {
  font-size: 2rem;
  line-height: 2.6rem;
  letter-spacing: 0.5rem;
  margin-bottom: 4.4rem;
}
@media screen and (min-width: 768px) {
  .virtue-cards__container__info h2 {
    margin-bottom: 3rem;
  }
}
@media screen and (min-width: 1111px) {
  .virtue-cards__container__info h2 {
    margin-bottom: 3.2rem;
  }
}
.virtue-cards__container__info p {
  font-size: 1.6rem;
  line-height: 2.6rem;
}

.virtue-cards__container:nth-child(1) .virtue-cards__container__img img {
  background: url(/assets/home/desktop/bg-pattern-hero-home-passion.svg);
  background-size: cover;
}

.virtue-cards__container:nth-child(2) .virtue-cards__container__img img {
  background: url(/assets/home/desktop/bg-pattern-hero-home-RESOURCEFUL.svg);
  background-size: cover;
}

.virtue-cards__container:nth-child(3) .virtue-cards__container__img img {
  background: url(/assets/home/desktop/bg-pattern-hero-home.svg);
  background-size: cover;
}

/*# sourceMappingURL=master.css.map */
