@use "../helper/mixins" as *;
@use "../base/variables" as *;

main.about {
  display: grid;
  grid-template-columns: 1fr minmax(37.5rem, 111.1rem) 1fr;
  place-items: center;
}

section.about-hero-card {
  grid-column: 2/3;
  max-width: 37.5rem;
  background: var(--peach);
  overflow: hidden;
  border-radius: 1.4rem;
  background-image: url(/assets/about/desktop/bg-pattern-hero-about-desktop.svg);
  background-repeat: no-repeat;
  .hero-card-info {
    padding: 8.5rem 3.7rem;

    text-align: center;
    color: var(--white);
    h1 {
      font-size: 3.2rem;
      line-height: 3.6rem;
      margin-bottom: 3.8rem;
    }
    p {
      font-size: 1.5rem;
      line-height: 2.5rem;
    }
  }
  @include breakpoint(tablet) {
    max-width: 68.9rem;
    .hero-card-info {
      padding: 6.7rem;
      margin-bottom: 12rem;
      h1 {
        font-size: 4.8rem;
        line-height: 4.8rem;
        margin-bottom: 4.8rem;
      }
      p {
        font-size: 1.6rem;
        line-height: 2.6rem;
      }
    }
  }
  @include breakpoint(desktop) {
    margin-bottom: 16rem;
    max-width: 111.1rem;
    display: flex;
    flex-direction: row-reverse;
    max-height: 48rem;
    .hero-card-info {
      text-align: left;
      padding: 14.2rem 8.2rem 14.2rem 9.5rem;
    }
  }
}

section.talent-hero-card {
  grid-column: 2/3;
  max-width: 37.5rem;
  background: var(--light-peach-19);
  border-radius: 1.4rem;
  overflow: hidden;
  margin-bottom: 12rem;
  background-image: url(/assets/shared/mobile/bg-pattern-design-pages-intro-mobile.svg);
  background-repeat: no-repeat;

  .talent-hero-card-info {
    text-align: center;
    padding: 8rem 2.4rem;

    h2 {
      color: var(--peach);
      font-size: 3.2rem;
      line-height: 3.6rem;
      margin-bottom: 3.8rem;
    }
    p {
      color: var(--dark-grey);
      font-size: 1.5rem;
      line-height: 2.5rem;
      margin-bottom: 3.4rem; // nth child selector is not applying
    }
  }
  @include breakpoint(tablet) {
    max-width: 68.9rem;
    // max-height: 73.6rem;
    .talent-hero-card-info {
      padding: 6.7rem 5.75rem;
      h2 {
        font-size: 4rem;
        line-height: 4.8rem;
        margin-bottom: 4rem;
      }
      p {
        font: 1.6rem;
        line-height: 2.6rem;
        margin-bottom: 3.8rem;
      }
    }
  }

  @include breakpoint(desktop) {
    max-width: 111.1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 64rem;
    margin-bottom: 16rem;
    &:nth-child(4) {
      flex-direction: row-reverse;
    }
    .talent-hero-card-info {
      text-align: left;
      padding: 15.3rem 9.5rem;
    }
  }
}
