@use "../helper/mixins" as *;
@use "../base/variables" as *;

section.contact-us-hero-card {
  background: var(--peach);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 5.8rem;
  margin-bottom: 12rem;
  padding: 7.8rem 2.4rem 7.2rem 2.4rem;
  background-image: url(/assets/contact/mobile/bg-pattern-hero-contact-mobile.svg);
  .contact-us-info-container {
    text-align: center;
    h1 {
      color: var(--white);
      font-size: 3.2rem;
      line-height: 3.6rem;
      margin-bottom: 3.5rem;
    }
    p {
      font-size: 1.5rem;
      line-height: 2.5rem;
      color: var(--light-grey);
    }
  }

  form {
    width: 32.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    ///////////////////////////////////////////////////
    input {
      display: block;
      border: none;
      border-bottom: 1px solid var(--white);
      background: transparent;
      padding-left: 1.6rem;
      padding-bottom: 1.9rem;
      font-size: 1.5rem;
      line-height: 2.6rem;
      width: 100%;
      margin-bottom: 3.1rem;
      outline: none;
      color: var(--white);

      &:hover {
        border-bottom: 3px solid var(--white);
      }
    }
    .message {
      padding-bottom: 7.9rem;
      margin-bottom: 4rem;
    }
  }
  @include breakpoint(tablet) {
    max-width: 68.9rem;
    padding: 7.8rem 5.8rem 7.2rem 5.8rem;
    background-image: url(/assets/contact/desktop/bg-pattern-hero-desktop.svg);
    background-repeat: no-repeat;

    .contact-us-info-container {
      text-align: left;
      h1 {
        font-size: 4.8rem;
        line-height: 4.8rem;
        margin-bottom: 4.55rem;
      }
      p {
        font-size: 1.6rem;
        line-height: 2.6rem;
      }
    }
    form {
      width: 57.3rem;
      .message {
        margin-bottom: 2.3rem;
      }
      button {
        margin-left: auto;
      }
    }
  }

  @include breakpoint(desktop) {
    flex-direction: row;
    max-width: 111.1rem;
    margin-bottom: 16rem;
    padding: 5.4rem 9.5rem;
    gap: 9.8rem;
    .contact-us-info-container {
      max-width: 44.2rem;
    }
    form {
      width: 38rem;
    }
  }
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: var(--light-grey);
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: var(--light-grey);
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: var(--light-grey);
}
:-moz-placeholder {
  /* Firefox 18- */
  color: var(--light-grey);
}

.alert {
  position: absolute;
  top: 0.5rem;
  right: 0;
  color: var(--white);
  font-style: italic;
  font-size: 1.2rem;
  line-height: 2.6rem;
  display: none;

  &:nth-of-type(2) {
    top: 8rem;
  }
  &:nth-of-type(3) {
    top: 16rem;
  }
  &:nth-of-type(4) {
    top: 24.5rem;
  }
}

.alert-on {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}
