@use "../helper/mixins" as *;
@use "../base/variables" as *;

a.button {
  text-transform: uppercase;
  border-radius: 0.7rem;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  &.primery {
    padding-left: 1.7rem;
    padding-right: 1.7rem;
  }
  &.secoundery {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }
  // &.submit-form {
  //   padding-left: 4.75rem;
  //   padding-right: 4.75rem;
  // }
  &.contact {
    padding-left: 1.85rem;
    padding-right: 1.85rem;
  }
  &.light {
    background: var(--peach);
    color: var(--white);
  }
  &.dark {
    background: var(--white);
    color: var(--black);
  }
  &:hover {
    background: var(--light-peach);
    color: var(--white);
  }
}

button.submit-form {
  text-transform: uppercase;
  border: none;
  border-radius: 0.7rem;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  padding: 1.75rem 4.75rem;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  background: var(--white);
  color: var(--black);
  &:hover {
    background: var(--light-peach);
    color: var(--white);
  }
}
