@use "../helper/mixins" as *;
@use "../base/variables" as *;

main.about {
  section.location-cards-hero-container {
    grid-column: 2/3;
  }
}

section.location-cards-hero-container {
  height: 118.8rem;
  margin-bottom: 12rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  .location-card-container {
    width: 35rem;
    height: 36.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    h2 {
      font-size: 2rem;
      line-height: 2.6rem;
      letter-spacing: 0.5rem;
    }
  }
  @include breakpoint(tablet) {
    height: 123rem;
  }
  @include breakpoint(desktop) {
    height: 36.4rem;
    width: 111.1rem;
    flex-direction: row;
    margin-bottom: 16rem;
  }
}

.location-card-container:nth-child(2) {
  img {
    background: url(/assets/home/desktop/bg-pattern-hero-home-passion.svg);
    background-size: cover;
  }
}

.location-card-container:nth-child(3) {
  img {
    background: url(/assets/home/desktop/bg-pattern-hero-home-RESOURCEFUL.svg);
    background-size: cover;
  }
}
.location-card-container:nth-child(1) {
  img {
    background: url(/assets/home/desktop/bg-pattern-hero-home.svg);
    background-size: cover;
  }
}
