@use "../helper/mixins" as *;
@use "../base/variables" as *;

section.project-card-banner {
  max-width: 100%;
  height: 32rem;
  background: var(--peach);
  border-radius: 1.4rem;
  margin-bottom: 9.5rem;
  display: grid;
  align-items: center;
  justify-content: center;
  .project-card-banner-info {
    // max-width: 32.7rem;
    text-align: center;
    color: var(--white);
    padding: 0 2.5rem;

    h1 {
      font-size: 3.2rem;
      line-height: 3.6rem;
      margin-bottom: 3.6rem;
    }
    p {
      font-size: 1.5rem;
      line-height: 2.5rem;
    }
  }

  @include breakpoint(tablet) {
    height: 25.2rem;
    // max-width: 68.9rem;
    margin-bottom: 12rem;
    // padding: 0 15.25rem;

    .project-card-banner-info {
      // width: 38.4rem;
      width: 100%;

      h1 {
        font-size: 4.8rem;
        line-height: 4.8rem;
      }
      p {
        font-size: 1.6rem;
        line-height: 2.6rem;
      }
    }
  }
  @include breakpoint(tablet) {
    max-width: 111.1rem;
    height: 25.2rem;
    margin-bottom: 16rem;
    // padding: 0 36.3rem;

    .project-card-banner-info {
      p {
        font-size: 1.6rem;
        line-height: 2.6rem;
      }
    }
  }
}
